@import url(icon.css);
body, html { height: 100%; }
body { background-color: #fff; -webkit-text-size-adjust: 100%; width: 100%; }
br { letter-spacing: normal }
.l-page { font-family: sans-serif; -webkit-font-feature-settings: "palt" 1; font-feature-settings: "palt" 1; font-size: 14px; padding: 10px 0; text-align: center; width: 100%; }
.l-page * { box-sizing: border-box; }
.l-page .l-container { margin: 0 auto; padding: 0 4%; text-align: left; width: 100%; }
.l-page h1 {background: url("/common/images/title_h1.gif") no-repeat scroll left bottom transparent;font-size: 18px;font-weight: bold;line-height: 1;margin-bottom: 1em;padding: 15px 0 20px 25px; }
.l-page h2 { font-size: 5vw; margin-bottom: .3em; }
.l-page a { color: #125687; text-decoration: none !important; }

.l-page h2 { border-bottom: 1px solid #cc0033; font-size: 14px; margin-bottom: 1.5em; }
.l-page h2 span { border-left: 4px solid #cc0033; font-weight: bold; padding:  2px 0 2px .5em; }
.l-page ul { padding-bottom: 1.5em; }
.l-page ul > li { display: list-item; list-style: disc; list-style-position: outside; margin-left: 1em; }
.l-page ul > li + li, .l-page ul > li p + p { padding-top: .8em; }
.l-page ul > li > ul { padding: .6em 0 0; }
.l-page ul > li > ul > li { display: flex; list-style: none; margin: 0; }
.l-page ul > li > ul > li + li { padding-top: .6em; }
.l-page ul > li > ul > li::before { content: '\f105'; display: inline-block; font-family: 'icon'; padding-right: .5em; }

.js-btn-page-top { bottom: 20px; cursor: pointer; display: none; position: fixed; right: 20px; z-index: 100; }
.js-btn-page-top a { background-color: #999; border-radius: 6px; display: block; height: 30px; position: relative; text-align: center; width: 30px; }
.js-btn-page-top a::before { color: #fff; content: '\f106'; display: inline-block; font-family: 'icon'; line-height: 29px; }